<a href="{{ siteUrl }}{{ uri }}">
    <div class="bg-white rounded-2xl h-40 w-40 border border-light-gray hover:drop-shadow-md transition-shadow duration-300">
        <div class="h-3/5 flex justify-center items-center">
            {{ icon }}
        </div>
        <div class="h-2/5 flex justify-center items-center px-2 py-2 text-center">
            <h3>
                {{ title }}
            </h3>
        </div>
    </div>
</a>