{% extends "_layouts/base" %}

{% block body %}
    <body class="bg-light-blue">
        {% block content %}{% endblock %}

        <script src="{{ siteUrl }}assets/scripts/index.js"></script>
    </body>
{% endblock %}