<div class="flex items-start gap-1">
    <label class="font-bold">{{ "Text"|t }}: </label>
    <textarea name="fields[body]" class="input-project">
        {{- block.body|raw -}}
    </textarea>
</div>