<h3 class="w-full">
    <label class="font-bold">{{ "Title 3"|t }}: </label>
    {{ input('text', 'fields[body]', block.body, {
        id: 'fields[body]',
        class: "input-project",
    }) }}
</h3>