<h2 class="w-full">
    <label class="font-bold">{{ "Title 2"|t }}: </label>
    {{ input('text', 'fields[body]', block.body, {
        id: 'fields[body]',
        class: "input-project",
    }) }}
</h2>